* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  outline: none;
  text-transform: capitalize;
}

:root {
  --orange: #ff7800;
  --black: #130f40;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 0.2rem solid rgba(0, 0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: 0.2rem solid var(--black);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  overflow-x: hidden;
}

body {
  background: #f7f7f7;
}

.btn {
  margin: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  border-radius: 5rem;
  border: var(--border);
  color: var(--orange);
  cursor: pointer;
}

.btn:hover {
  background: var(--orange);
  color: #fff;
  transition: 0.2s ease;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: #fff;
  box-shadow: var(--box-shadow);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  font-size: 2.5rem;
  color: var(--black);
  font-weight: 400;
}

.header .logo i {
  color: var(--orange);
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.7rem;
  color: var(--black);
}

.header .navbar a:hover {
  color: var(--orange);
}

.header .icons div {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
  font-size: 2.5rem;
  color: var(--black);
  margin-left: 1rem;
  cursor: pointer;
  background-color: #eeeeee;
}

.header .icons div:hover {
  background-color: var(--orange);
  color: #fff;
}

#menu-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  top: 110%;
  right: -100%;
  width: 50rem;
  height: 4.5rem;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
  padding-right: 10px;
}

.header .search-form.active {
  right: 2rem;
  transition: 0.32s linear;
}

.header .search-form input {
  height: 100%;
  width: 100%;
  padding: 0 1.5rem;
  font-size: 1.6rem;
  color: var(--black);
  background: none;
  text-transform: none;
  border: none;
}

.header .search-form label {
  font-size: 2rem;
  padding-right: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

.header .search-form label:hover {
  color: var(--orange);
}

.header .shopping-cart {
  position: absolute;
  top: 110%;
  right: -100%;
  padding: 1rem;
  width: 40rem;
  background: #fff;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
}

.header .shopping-cart.active {
  right: 2rem;
  transition: 0.32s linear;
}

.header .shopping-cart .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.header .shopping-cart .box img {
  height: 10rem;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.header .shopping-cart .box .fa-trash {
  font-size: 2.5rem;
  color: var(--light-color);
  cursor: pointer;
}

.header .shopping-cart .box .fa-trash :hover {
  background-color: var(--orange);
}

.header .shopping-cart .box .box-content h3 {
  font-size: 1.7rem;
  color: var(--black);
  padding-bottom: 1rem;
}

.header .shopping-cart .box .box-content span {
  font-size: 1.6rem;
  color: var(--light-color);
  /* padding-bottom: 1rem; */
}

.header .shopping-cart .box .box-content .quantity {
  /* font-size: 1.7rem;
  color: var(--black); */
  /* padding-bottom: 1rem; */
  padding-left: 1rem;
}

.header .shopping-cart .total {
  font-size: 2.5rem;
  padding: 1rem 0;
  text-align: center;
  color: var(--black);
}
header .shopping-cart .btn {
  display: block;
  text-align: center;
}

.header .login-form {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 40rem;
  padding: 2rem;
  background: #fff;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
  text-align: center;
}

.header .login-form.active {
  right: 2rem;
  transition: 0.32s linear;
}

.header .login-form h3 {
  font-size: 2.5rem;
  color: var(--orange);
  text-transform: uppercase;
}

.header .login-form .box {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--black);
  background: #f0f0f0;
  margin: 1rem 0;
  border-radius: 0.5rem;
  border: none;
  text-transform: none;
}

.header .login-form p {
  font-size: 1.4rem;
  color: var(--light-color);
  /* padding: 1rem 0; */
  letter-spacing: 1.2px;
}

.header .login-form p a {
  color: var(--orange);
  text-decoration: underline;
}

.header .login-form .btn {
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  border-radius: 5rem;
  /* border: var(--border); */
  /* color: var(--orange); */
  cursor: pointer;
  margin-top: 1rem;
  margin-left: auto;
}

.no-hover:hover {
  background-color: #eeeeee !important;
  color: var(--black) !important;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    padding: 2rem;
    flex-direction: column;
  }

  .header .navbar.active {
    right: 2rem;
    transition: 0.32s ease;
  }

  .header .navbar a {
    display: block;
    margin: 1.5rem 0;
    font-size: 2rem;
  }

  .header .search-form {
    width: 90%;
  }

  .header .shopping-cart {
    width: 33rem;
  }

  .header .login-form {
    width: 33rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .header {
    padding: 1.5rem;
  }

  .header .shopping-cart .box img {
    height: 7rem;
  }

  .header .shopping-cart {
    width: 90%;
  }

  .header .login-form {
    width: 90%;
  }

  .header .navbar {
    width: 90%;
  }
}
