* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  outline: none;
  text-transform: capitalize;
}

:root {
  --orange: #ff7800;
  --black: #130f40;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 0.2rem solid rgba(0, 0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: 0.2rem solid var(--black);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  overflow-x: hidden;
}

body {
  background: #f7f7f7;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: #fff;
  box-shadow: var(--box-shadow);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  font-size: 2.5rem;
  color: var(--black);
  font-weight: 400;
}

.header .logo i {
  color: var(--orange);
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.7rem;
  color: var(--black);
}

.header .navbar a:hover {
  color: var(--orange);
}

.header .icons div {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
  font-size: 2.5rem;
  color: var(--black);
  margin-left: 1rem;
  cursor: pointer;
  background-color: #eeeeee;
}

.header .icons div:hover {
  background-color: var(--orange);
  color: #fff;
}

#menu-btn {
  display: none;
}
